doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .table 
            table(border=1) 
                thead 
                    tr 
                        th #
                        th Title 
                        th Foydalanuvchi ismi
                        th Email
                        th Adres
                tbody#tbody
        

        script(src="../js/script.js")  
